{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "css/scrapesites.css" %}">
<title>Link check - ad-hoc scan</title>
</head>
<body>
<div class ="page-header">
<h1>Link check - ad-hoc scan</h1>
</div>
<div class ="page-body">
<form action="scrapesites/run-scan-once.py" method="get">
    <button type="submit" class="save btn btn-default">Submit</button>
</form>
{% block content %}
{% endblock %}
</div>
<div class ="page-footer">
<h5><a href="/admin">WebOps ___ </a></h5>
</div>
</body>
</html>
